<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="djm-nametag" attributes="">

  <template>
    This is <b>{{owner}}</b>'s djm-nametag element.
  </template>

  <script>
    Polymer('djm-nametag', {
      // initialize the element's model
      ready: function() {
        this.owner = 'Rafael';
      }
    });
  </script>
</polymer-element>
