<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="yo-greeting" attributes="">

  <template>
    <link rel="stylesheet" href="yo-greeting.css">
    <h1>{{ greeting }}, {{ greeting }}!</h1>
    <span>Update text to change the greeting.</span>
    <input type="text" value="{{ greeting }}">
  </template>

  <script>
    (function () {

      Polymer({
        greeting : '\'Allo'
      });

    })();
  </script>
</polymer-element>
